<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212826834661-lnd0r55a9o0hkir9iggtmdq4ict6ige3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212826834661-lnd0r55a9o0hkir9iggtmdq4ict6ige3</string>
	<key>API_KEY</key>
	<string>AIzaSyD_xQ5OZFgYah-faMzOatRLPtUYeF_quE0</string>
	<key>GCM_SENDER_ID</key>
	<string>212826834661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>satyam-jha.Firebasenew20july</string>
	<key>PROJECT_ID</key>
	<string>fir-2-7af69</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-2-7af69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212826834661:ios:bd0f31fdd4032b0b50b60c</string>
</dict>
</plist>